.main-purpose{
    width: 188px;
    padding: 16px 20px;
    border-left: 1px solid #DADCE0;

    @media(max-width: 900px){
      padding: 10px 10px;
    }

    h2 {
        margin: 0;
        color: var(--text-100, #1c4980);
        font-family: "Inter";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
      }
    
      .image-text {
        display: flex;
        margin-top: 16px;
    
        img {
          height: 40px;
          width: 40px;
        }
    
        h3 {
            margin: 0;
          color: var(--text-100, #1c4980);
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          display: flex;
          align-items: center;
          margin-left: 16px;
        }
      }
}