.mobile-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;

  h1 {
    color: var(--text-100, #1c4980);
    font-feature-settings: "clig" off, "liga" off;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin-left: 10px;
  }

  img{
    height: 30px;
    width: 30px;
  }
}
